# Node.js
node_modules/

# .env file
.env

# Директорії для фронтенду та бекенду
frontend/node_modules/
backend/node_modules/

# Додаткові файли або папки, які не потрібно додавати
*.log
*.tmp
.DS_Store